
/* Link states */
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: orange;
}
a:active {
  color: red;
}

/* Nav menu styling */
nav ul {
  list-style-type: none;
  list-style-position: inside;
}
nav li {
  margin: 10px 0;
}
